html {
  font-size: 62.5%;   /* para que un rem equivale 10px */
}

body {
  font-size: 1.6rem;    /* para que un rem equivale 10px */
}

/*------------INDEX ------------*/
.barraNav {
  width: 35%;
  margin: 2%;
}
.barraNav img {width: 100%; border-radius: 5%;}

.barraNav2 {
  cursor: pointer;
  margin-top: 25%;
  margin-left: 3%;
  width: 50%;
}
.barraNav2 img {width: 50%; border-radius: 5%; padding: 5%;}

.barraNav img:hover, .barraNav2 img:hover {
  background-color: #9ec0e7;
}  

.navBar {
  background-color:#9ec0e7;
  padding: 2%;
  font-size: 150%;
  text-align: center;
}

.pagesLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 2%;
}

.pagesLinks a:hover {
  color:#ffb89d;
}

/*----------MAIN-------------------*/
.boxicon-logos {
  text-align: center;
}
.boxicon-logos img{
  width: 50%;
}
.bannerDogs img{
  width: 100%;
}

/*----------FOOTER----------------*/
.footerHorizontal{background-color: #fae7c4; text-align: center; padding: 2%; }
.iconfooter img{width: 35%; border-radius: 55%;}