html {
  font-size: 62.5%;   /* para que un rem equivale 10px */
}

body {
  font-size: 1.6rem;    /* para que un rem equivale 10px */
}

/*------------INDEX ------------*/
.barraNav {
  width: 35%;
  margin: 2%;
}
.barraNav img {width: 100%; border-radius: 5%;}

.barraNav2 {
  cursor: pointer;
  margin-top: 10%;
  margin-left: 3%;
  width: 30%;
}
.barraNav2 img {width: 50%; border-radius: 5%; padding: 5%;}

.barraNav img:hover, .barraNav2 img:hover {
  background-color: #9ec0e7;
}  

.navBar {
  background-color:#9ec0e7;
  padding: 2%;
  font-family: comic 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 150%;
}

.pagesLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
