html {
  font-size: 62.5%;
  margin: 0; }

/* para que un rem equivale 10px */
body {
  font-size: 1.6rem; }

/* para que un rem equivale 10px */
/*-----------HEADER--------------*/
.img-fluid {
  max-width: 10%; }

.navbar-light .navbar-nav .nav-link {
  color: #9ec0e7;
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-toggler-icon {
  background-image: url(../img/nariz-de-perro.png);
  width: 30%; }

.navbar-light .nav-item a:hover {
  background-color: #9ec0e7;
  text-align: center; }

.navbar-brandimg:hover {
  background-color: #9ec0e7;
  border-radius: 50%; }

/*-----------FOOTER-----------*/
.footer-horizontal {
  background-color: #fae7c4;
  padding: 2%; }

.iconfooter img {
  width: 35%;
  border-radius: 55%; }

/*-------------------MEDIAQUERIE-----------------*/
@media only screen and (max-width: 768px) {
  body .navbar-light .navbar-toggler-icon {
    width: 88%; }
  body .iluminacion p {
    font-size: 300%;
    color: white;
    -webkit-text-stroke: 2px black; }
  body .main2 {
    font-size: 114%; }
  body .titleGlobal {
    display: flex; }
  body .boxicon-logos {
    width: 150%; }
  body .img-fluid {
    max-width: 25%; }
  body .titleGlobal {
    display: flex;
    flex-direction: column;
    align-items: center; }
  body .mascota {
    width: 80%; }
  body .don {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%; }
  body .cont1, body .cont2, body .cont3 {
    margin: 5%;
    display: flex;
    width: 100%;
    flex-direction: column; }
  body .mainwho p {
    font-size: 110%; } }

/*----------INDEX MAIN-------------------*/
.boxicon-logos img {
  width: 50%; }

.banner-dogs img {
  width: 100%; }

.iluminacion {
  width: 600px;
  height: 200px; }
  .iluminacion p {
    font-size: 500%;
    color: white;
    -webkit-text-stroke: 4px black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .iluminacion p:last-child {
      filter: blur(16px); }

.bienvenidos, .main2 {
  background-color: rgba(0, 0, 0, 0.288); }

.main2 p, .parrafo p {
  color: white;
  -webkit-text-stroke: 1.5px black;
  background-color: #9ec0e7;
  border-radius: 5%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3%;
  font-size: 120%; }

/*---------LINKEDOG MAIN----------------------*/
.bannerPage2 img {
  width: 100%;
  margin: 0; }

.title-Global {
  background-image: url(../img/background-dog.jpg); }

.mascota {
  width: 45%;
  background-color: #9ec0e7;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif; }
  .mascota img {
    width: 50%;
    padding: 2%; }
  .mascota h3 {
    color: white;
    font-size: 50% large; }
  .mascota ul {
    list-style-type: none;
    font-size: 12px; }
  .mascota input {
    cursor: pointer;
    margin: 3px;
    padding: 2px;
    width: 80px;
    border-radius: 10px;
    color: white;
    background-color: #e496bd; }
    .mascota input:hover {
      background-color: white;
      color: #e496bd; }

/*----------MAIN CONTACTANOS-------*/
.formulario {
  background-image: url(../img/background-dog.jpg); }
  .formulario h1 {
    font-size: 60px;
    color: black; }

.BoxContacto {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #e496bd;
  margin: 20px;
  padding: 50px; }

.enviar {
  box-sizing: border-box;
  margin: 5px;
  padding: 2px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  color: white;
  background-color: #9ec0e7; }
  .enviar:hover {
    background-color: #62c09e;
    color: black; }

/*----------MAIN QUIERO DONAR-------*/
.maindon {
  background-image: url(../img/background-dog.jpg); }

.bannerdonacion img {
  width: 100%; }

.don {
  width: 45%;
  margin: 2%;
  padding: 2%; }
  .don img {
    width: 80%;
    border-radius: 10px; }

.masdonaciones {
  margin-bottom: 5%; }

.OtrasDonaciones {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10%; }
  .OtrasDonaciones:hover {
    background-color: #9ec0e7;
    color: black; }

.botonDonacion {
  background-color: black;
  color: white;
  font-size: 20px;
  width: 150%;
  margin: 15%;
  padding: 10px;
  border-radius: 10px; }

/*----------QUIENES SOMOS--------------*/
.mainwho {
  background-image: url(../img/background-dog.jpg); }
  .mainwho img {
    background-image: url(../img/background-dog.jpg);
    border-radius: 10px;
    width: 50%; }

.row > * {
  padding: 0; }

.titlewho h1 {
  font-size: 360%;
  background-color: #62c09e67; }

.cont1, .cont2, .cont3 {
  border-radius: 5%;
  background-color: white;
  width: 80%;
  padding: 15px;
  margin: 5%; }
  .cont1 p, .cont2 p, .cont3 p {
    padding: 10px;
    font-size: 24px; }
