/*----------QUIENES SOMOS--------------*/
.mainwho {
    background-image: url(../img/background-dog.jpg);
    & img{
      background-image: url(../img/background-dog.jpg);
      border-radius: 10px;
      width: 50%;
    }
  }
  .row>*{padding:0;}
  .titlewho h1 {font-size: 360%;background-color: #62c09e67;}  
  @mixin sizes($width, $padding, $margin) {
        width: $width;
        padding: $padding;
        margin: $margin;
  }
  .cont1 {
        border-radius: 5%;
        background-color: $bgBlanco;
        @include sizes(80%, 15px, 5%);
    & p {padding: 10px;font-size: 24px;}    
      }
  .cont2 {
    @extend .cont1;
  }
  .cont3 {
    @extend .cont1;
  }
  
  