/*----------QUIENES SOMOS--------------*/
.mainwho {
    background-image: url(../img/background-dog.jpg);
    & img{
      background-image: url(../img/background-dog.jpg);
      border-radius: 10px;
      width: 50%;
    }
  }
  .row>*{padding:0;}
  .titlewho h1 {font-size: 360%;background-color: $bgPrimario; padding: 1%;}  
  
  
  