/*----------INDEX MAIN-------------------*/
.boxicon-logos img{width: 50%;}
.banner-dogs img{width: 100%;}
.iluminacion {
  width: 600px;
  height: 200px;
        h1 {
          font-size: 500%;
          color: $colorBlanco;
          -webkit-text-stroke: 4px $colorNegro;
          left: 50%;
          top: 50%;
          transform: translate( -50%, -50% );
        &:last-child {filter: blur( 16px )};
 }    
}
.bienvenidos, .main2{background-color: rgba(0, 0, 0, 0.288);}
.main2 p, .parrafo p {
    color: $colorBlanco;
    -webkit-text-stroke: 1.5px $colorNegro;
    background-color: $bgPrimario;
    border-radius: 5%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3%;
    font-size: 120%;
  }